body{
    font-family: 'Corben', cursive;
    background-image: url("./images/notebookPaper.jpeg");
    background-size: 100%;
}



#title, #button-div {
    display: flex;
    align-items: center;
    justify-content: center;
    
}

#title {
    width: 70%;
    margin: auto;
    text-align: center;
}

#random-answer {
    text-align: center;
}

.picture {
    animation-name: appear;
    animation-duration: 2s;
}

@keyframes appear {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}