body{
    font-family: 'Corben', cursive;
    background-image: url("./images/notebookPaper.jpeg");
    background-size: 100%;
    padding: 25px;
}


#generate-button{
    margin: 20px;
    font-size: 2em;
    border-radius: 10px;
    background-color: skyblue;
    color: red;
    -webkit-transition: 1s;
    cursor: pointer;
}

#generate-button:hover {
    background-color: red;
    color: skyblue;
    -webkit-transition: .5s;
}


#title, #button-div {
    display: flex;
    align-items: center;
    justify-content: center;
    
}

#title {
    width: 70%;
    margin: auto;
    text-align: center;
}

#random-answer {
    text-align: center;
}

.picture {
    animation-name: appear;
    animation-duration: 2s;
}

@keyframes appear {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}